

* {
   /* width: 1920px;
   height: 1080px; */
  margin: 0 auto ; 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(92, 3, 3);
}

.App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body{
  
  font-family: 'Open Sans', sans-serif;

}