.cardsTodas {
  background-color: #F5F6FA;
  box-shadow:  0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 20px auto; /*Ajusta el margen superior e inferior */
  padding: 10px;
  text-align: center;
  color: #151B32;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 290px; /* Tamaño en píxeles */
  height: 200px; /* Tamaño en píxeles */
  font-size: 16px;
}